Flask==2.2.2
Flask-JWT-Extended==4.4.4
Flask-SQLAlchemy==3.0.3
flask-migrate
SQLAlchemy==2.0.21
Werkzeug==2.2.2
pytest==7.1.2
requests
python-dotenv
google-api-python-client
google-auth 
google-auth-oauthlib 
google-auth-httplib2
flask-cors